@model ImageSharingWithCloudStorage.Models.LogEntry

@{
    ViewBag.Title = "Image Viewing Activity";
}

<h2>@ViewBag.Title</h2>

<form method="get" asp-action="DoListByDate" asp-controller="Images" enctype="multipart/form-data">
    <p>
        Select a date:
        <select asp-for="DateId" asp-items="Model.ListOfTimeIntervals"></select>
        <input type="submit" value="Get Logs" />
    </p>
</form>

<table class="gridTable">
    <tr>
        <th>Caption</th>
        <th>User</th>
        <th>Time</th>
    </tr>

    @foreach (var entry in Model.entries)
{
    <tr>
        <td>
            <a asp-action="Details" asp-route-id="@entry.ImageId">@entry.Caption</a>
        </td>
        <td>
            @entry.Username
        </td>
        <td>
            @string.Format("{0:t}", entry.EntryDate)
        </td>
    </tr>
}
</table>
